.copyrights{
margin-top:25px;
}

footer.container-fluid.text-center.foot {
    background: #000000;
}

.dark-line{
border-top: 1px solid #525252;
}

.white-txt{
color: #FFF;
}

img.link_social{
    width: 50px;
    height: 50px;
}

footer a , a:visited , a:hover {
    padding: 7px;
    text-decoration: none;
    color: #ffffff;
}


.footimg{
width: 5rem;
}