/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper_banner {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 1440px;
    /* 2 */
    height: 100%;
}

.wrapper_div {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 1440px;
    /* 2 */
}


/*carousel */


/* html, body {
        position: relative;
        height: 100%;
    }
    .swiper-container {
           width: 100%;
        height: 100%;
        top: -120px;
    }
    .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
#img2{
    background-image: url('../images/Landing/Jinglebol_Landing.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}
#img1{
    background-image: url('../images/Profile/Birb.jpg');
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;
}
#progress{
    top: unset;
    bottom: 0 !important;
}*/

.copyrights {
    margin-top: 25px;
}

footer.container-fluid.text-center.foot {
    background: #000000;
}

.dark-line {
    border-top: 1px solid #525252;
}

.white-txt {
    color: #FFF;
}

img.link_social {
    width: 50px;
    height: 50px;
}

footer a,
a:visited,
a:hover {
    padding: 7px;
    text-decoration: none;
    color: #ffffff;
}

.footimg {
    width: 5rem;
}

.navbar {
    z-index: 1000;
    background: none;
    border: none;
    height: 100px;
    padding: 50px;
    box-shadow: none;
}

.navbar-right>li>a {
    font-size: 15px;
    color: #fff !important;
}

.container-fluid.main {
    position: relative;
    /* To make the navbar positions relative to this container */
    padding: 0;
}

.navbar-default {
    background-image: none;
    background-color: transparent;
    /* Make the menu become transparent */
    border-radius: 0px;
    border: 0;
    box-shadow: none;
    padding: 10px;
    position: absolute;
    /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
}

.navbar-default .navbar-brand {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    /* margin-top: 8px; */
    margin-right: 25px;
    /* margin-bottom: 8px; */
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
    width: 100%;
}

.icon-heading {
    font-weight: 200;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}

.navbar-header {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: -14px;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: inline-block;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
        float: right;
        margin-top: -91px;
    }
}

.navbar-right {
    margin-top: 0px;
}

#left-menu {
    float: left;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#right-menu {
    float: right;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.carousel .background {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 650px;
}

@media (max-width:991px) {
    .carousel .background {
        background-size: cover;
        /* To make the background image looks good */
    }
}

.carousel .background.a {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Landing/Jinglebol_Landing.jpg");
}

.carousel .background.b {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Landing/Jinglebol_Landing.jpg");
}

.carousel .background.c {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Landing/Jinglebol_Landing.jpg");
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition: opacity 0.5s;
    /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}


/* CSS Hack to trigger GPU for smooth transition */

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.prev,
    .carousel-fade .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right,
    .carousel-fade .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


/* CSS Hack to trigger GPU for smooth transition */

.covertext {
    position: absolute;
    /* To make the div to be place anywhere. It is out of the document flow */
    top: 180px;
    /* The distance between the div with the top of document */
    left: 0px;
    /* Make the div full width */
    right: 0px;
    /* Make the div full width */
}

.title {
    font-family: Verdana;
    font-weight: 400;
    font-size: 10vw;
    color: #ffffff;
    text-align: center;
}

.title_nect {
    font-family: Verdana;
    font-weight: 800;
    font-size: 10vw;
    color: #ffffff;
    text-align: center;
    margin-left: 150px;
}

.explore {
    text-align: center;
    margin-top: 10px;
}

.talents {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.talents:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}

.carousel-indicators li {
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: 2px solid #fff;
}

.carousel-indicators li.active {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: 2px solid #fff;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .carousel-indicators {
        bottom: 60px;
    }
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #000;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #000;
    color: #fff;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #000;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: #fff !important;
    color: #fff !important;
}