

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/*-- Body style ---------------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

.loginbox{
    min-height: 400px;
    padding:50px;
    margin:40px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
    -moz-box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
}
	.login-form {
    min-height: 400px;
          margin: 50px auto;
          border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
    -moz-box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
    box-shadow: 5px 5px 5px 1px rgb(0, 0, 0);
    border: 1px solid #ddd;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #fff;
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }

.btn.btn-default.btn-block {
    color: #000000;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #ffffff);
    border-color: #000000 #000000 #000000;
    border-radius:10px;
}
.btn.btn-default.btn-block:hover , .btn.btn-default.btn-block:visited , .btn.btn-default.btn-block:focus  {
    color: #000000;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    border-color: #000000 #000000 #000000;
    border-radius:10px;
}

.textbox{
  outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #000;
}

.textbox:focus, .textbox:focus, .textbox:focus{
outline: none;

    box-shadow: none;
}

.textbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
    font-size: 18px;
    font-weight: 400;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
label{
    color: #000;
   font-size: 18px;
    font-weight: 400;
}

.rem{
	font-size: 12px;
    font-weight: bold;
}

a , a:focus , a:visited , a:hover{
	color: #000;
	text-decoration:none;
	font-size: 18px;
	font-weight: 400;
	padding-left:12px;
	font-size: 12px;
    font-weight: bold;
}

.center-box{
   display: block;
   margin: auto auto;
   margin-top: 20px;
   width: auto;
   min-height: 600px;
}