.menu{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.img_thumb{
   width: 45px;
    border: 2px solid #fff;
    padding: 5px;
    display: inline;
    margin-left: 10px;
}

.search{
    width: 75%;
    outline: none;
    box-shadow: none;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 22px;
    background-image: url("../images/Icons/Follow.svg");
    background-repeat: no-repeat;
    padding-left: 20px;
      position: relative;

    display: inline;
}
.search::after{
  content: '';
    position: absolute;
    top: -20px; right: -20px;
    border-top: 50px solid white;
    border-left: 50px solid white;
    width: 0;
    background:#fff;
    	border-radius:100px;
}