.center-box{
   display: block;
   margin: auto auto;
   margin-top: 20px;
min-width  : 500px;
   min-height: 600px;
   left: 0;
}
.center_block{
   display: block;
   margin: auto auto;
   margin-top: 20px;
}
.caption::first-letter {
    color: #000;
    font-weight: 700;
}
.caption h4{
    font-size: 25px;
    text-align: center;
}

.thumbnail{
    height: 200px;
    border: 2px solid #000;
}
.thumbnail img{
    height: 100px;
}

    .btn {        
        font-size: 20px;
        font-weight: 200;
        padding:22px;
    }

.btn.btn-default.btn-block {
    color: #FFFFFF;
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #000);
    border-color: #FFFFFF #FFFFFF #FFFFFF;
    
}
.btn.btn-default.btn-block:hover , .btn.btn-default.btn-block:visited , .btn.btn-default.btn-block:focus  {
    color: #FFFFFF;
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #000);
    border-color: #FFFFFF #FFFFFF #FFFFFF;
   
}
.thumbnail:hover{
     -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
}